.navbar {
    width: 100%;
    height: 72px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #0635C9;
}

.nav-link-font {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0px 10px;
}

.btn-outlined {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #fff;
    color: #2D59A8;
    width: 152px;
    height: 38px;
    border: 1px solid #2D59A8;
    border-radius: 4px;
    padding: 0px;
    margin: 0px 10px;
}

.btn-filled {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #2D59A8;
    color: #FFF;
    width: 152px;
    height: 38px;
    border-bottom: 1px solid #2D59A8;
    border-radius: 4px;
    margin: 0px 10px;
    padding: 0px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.navbar-links {
    justify-content: space-between;
    flex: 1;
    padding-left: 40px;
}

.landing-main-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #1D1D1D;
    margin: 0px;
}

.landing-main-description {
    margin-top: 0px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #1D1D1D;
}

.landing-div {
    min-height: 364px;
    position: relative;
}

.landing-div-hover-img {
    width: 50px;
}

.landing-div-illustration-img {
    width: 400px;
}

.landing-div-hover-1 {
    top: 50px;
    left: 300px;
}

.landing-div-hover-2 {
    top: 220px;
    left: 146px;
}

.landing-div-hover-3 {
    bottom: 150px;
    right: 100px;
}

.landing-div-hover-4 {
    bottom: 30px;
    right: 446px;
}

.landing-div-hover-5 {
    bottom: -300px;
    right: 46px;
}

.absolute {
    position: absolute;
}

.features-div {
    background-color: #F6FAFD;
    min-height: 850px;
    padding-left: 80px;
    width: 100%;
}

.features-card {
    height: 220px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 13px;
    position: relative;
}

.features-card-small {
    height: 96px;
    width: 250px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 13px;
    z-index: 5;
}

.features-card-small>.fa-solid,
.features-card>.fa-solid {
    position: absolute;
    bottom: 10px;
    font-size: larger;
    right: 15px;
}

.features-card-img {
    width: 15%;
    margin: 15px;
    margin-bottom: 5px;
}

.features-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 0px;
    margin-left: 15px;
}

.features-card-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 0px;
    margin-left: 15px;
    margin-top: 5px;
}

.features-div-title {
    font-family: 'Poppins';
    font-style: normal;
    position: relative;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0px;
    padding-top: 70px;
    margin-left: 13px;
}

.features-div-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    margin-left: 13px;
    margin-bottom: 20px;
}

.features-div-section-2 {
    position: absolute;
    right: 13px;
}

.additional-section {
    min-height: 340px;
    width: 100%;
    position: relative;
    background: #303546;
}

.additional-section-img {
    object-fit: cover;
    position: absolute;
    opacity: 0.3;
}

.additional-section-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    max-width: 800px;
    padding: 0px 10rem;
    padding-top: 50px;
}

.additional-section-watch-img {
    width: 130px;
    object-fit: scale-down;
}

.additional-section-learn-more {
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 3px solid white;
    margin-left: 50px;
}

.reviews-section-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
    margin: 100px 0px 50px;
}

.reviews-section {
    position: relative;
}

.additional-section-dotted-icons-1 {
    position: absolute;
    max-width: 80px;
    bottom: -40px;
    left: 0px;
}

.additional-section-dotted-icons-2 {
    position: absolute;
    max-width: 80px;
    top: -40px;
    right: 0px;
}

.reviews-section-card {
    width: 972px;
    position: relative;
    margin-bottom: 2rem;
    height: 372px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.reviews-section-card-img {
    height: 100%
}

.reviews-section-card-quotes {
    position: absolute;
    top: -8%;
    width: 25%;
    left: 45%
}

.reviews-section-card-title {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
}

.reviews-section-card-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    margin: 0px;
    font-size: 18px;
}

.reviews-section-card-designation {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    font-size: 15px;
}

.reviews-section-card-description {
    font-family: 'Lato';
    font-style: normal;
    max-width: 80%;
    text-align: left;
    margin-top: 4rem;
    font-weight: 400;
    font-size: 16px;
}

.reviews-section-card-redirect {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    bottom: 0px;
    right: 25px;
    font-size: 14px;
    color: #2D59A8;
}

.reviews-section-logo-img {
    width: 15%;
    object-fit: scale-down;
    background-color: #fff;
    background-blend-mode: luminosity;
    mix-blend-mode: lighten;
}